{% extends 'base.html' %}

{% block content %}
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'polls/Description.css' %}">

	<img class="logo" style="width:600px; top:0; position:relative; margin-top: -10vh;" src="{% static 'polls/images/wiecOS_logo.png' %}">
    <h1>Podsumowanie wiecu autorstwa Prezydium</h1>


    <h2>Obrady prowadziło Prezydium w składzie:</h2>
    <ul>
        <li>Michał Zaremba</li>
        <li>Oliwier Bogdanienko</li>
        <li>Maja Esden-Tempska</li>
        <li>Karolina Smaglewska</li>
    </ul>

    <h2>Rolę Moderatora pełniła:</h2>
    <p>Maja Esden-Tempska</p>

    <h2>Ogłoszenia (10:30-10:55):</h2>
    <ul>
        <li>Prezentacja nazwy drugiego rocznika</li>
        <li>Karol Ejdys (ekipa świętego mikołaja 6-9 grudnia)</li>
        <li>Bianka Jasińska</li>
        <li>P. Anna Dziubińska-Starska</li>
    </ul>

    <h2>Porządek obrad:</h2>

    <h2>CZĘŚĆ 1 (10:55-12:00):</h2>
    <ul>
        <li>wiecOS:</li>
        <ul>
            <li>fajne.</li>
        </ul>
        <li>Procedura postępowania po wykorzystaniu seksualnym w szkole i poza nią:</li>
        <ul>
            <li>warsztaty z seksuologami - co szkoła może i powinna robić w takiej sytuacji?</li>
            <li>łamanie stygmy dotyczącej nadużyć seksualnych ze strony ofiary.</li>
            <li>solidarność z ofiarami przemocy seksualnej, i stworzenie dla nich bezpiecznej przestrzeni.</li>
            <li>traktujmy przestępstwa seksualnie jak każde inne przestępstwo.</li>
            <li>procedura musi być jasna i transparentna, tak aby każdy znał konsekwencje za tego typu przestępstwo + tego jakiego typu pomoc szkoła dostarczy ofiarze. </li>
            <li>warsztaty z asertywności.</li>
            <li>lepszy, szybszy kontakt z psychologami.</li>
            <li>rozmowa z obiema stronami.</li>
            <li>indywidualne podejście do sprawy.</li>
            <li>zrozumienie oprawcy - czy wie, że to co zrobił jest nadużyciem?</li>
        </ul>
    </ul>

    <h2>CZĘŚĆ 2 (12:30-14:00)</h2>
    <ul>
        <li>Powieszenie tęczowej flagi na budynku szkolnym:</li>
        <ul>
            <li>progresywna szkoła, w której grono uczniowskie tworzy społeczność, powinniśmy móc wyrażać nasze wartości.</li>
            <li>chcemy pracować nad akceptującą, bezpieczną społecznością.</li>
            <li>dopilnujmy aby obietnice o wsparciu zostały dotrzymane.</li>
            <li>popracujmy nad formą, flaga nie musi być wyjściem, coś co zrobimy własnoręcznie będzie miało większą wagę.</li>
            <li>flagi powodują konflikty ideologii, mogą zaburzać wspólne wartości (każde flagi bez wyjątku).</li>
            <li>flaga może powodować niebezpieczeństwo - ktoś może próbować niszczyć mienie szkoły, zerwać flagę, podpalić ją, etc.</li>
            <li>postulat o tolerancji i akceptacji na stronie szkoły, docierający bezpośrednio do społeczności szkolnej/osób, które mogą chcieć wybrać tę szkołę.</li>
            <li>w jakim miejscu chcemy postawić taką flagę/symbol tolerancji, niektóre przestrzenie wspólne powinny być neutralne.</li>
            <li>to nie powinno być jednorazowe święto w roku, a coś co jest z nami cały czas, akceptacja nie jest okresowa czy epizodyczna. </li>
            <li>flaga nie da nam pewności o tolerancji i akceptacji. flaga jest bierna, my powinniśmy reagować czynami w naszej społeczności.</li>
            <li>naklejki tolerancyjne “tu jesteś u siebie”, “miło cię widzieć” etc. z kolorami flag w tle.</li>
            <li>osoby ze środowiska LGBT+ nie powinny być próbą tolerancji dla ludzi nietolerancyjnych/nieakceptujących.</li>
        </ul>
    </ul>

    <h2>CZĘŚĆ 3 (14:30-16:00):</h2>
    <ul>
        <li>Projekt Komisji Mediacyjnej:</li>
        <ul>
            <li>tj. instytucja sądu szkolnego, instytucji rozjemczej.</li>
            <li>20 głosów poparcia - ktoś może wejść do komisji.</li>
            <li>komisja wysłuchuje obie strony, następnie mówi o swojej rekomendacji działania/rozwiązania w danej sytuacji.</li>
            <li>ok. 15 osób w komisji.</li>
            <li>głosowanie anonimowe.</li>
        </ul>

        <li>Konflikt informacyjny dt. specjalizacji multimedialno-artystycznej:</li>
        <ul>
            <li>obiecany był kierunek multi-art.</li>
            <li>projekt rozdzielenia specjalizacji nie był poruszony na wiecu.</li>
            <li>obie te części (multi i art) zajmują dużo czasu i należy im tyle go poświęcić.</li>
            <li>nie każdy lubi obie te części (multi i art), dla niektórych ważna jest jedynie jedna część, na której chce się skupić.</li>
            <li>na stronie szkoły wciąż nie ma informacji o rozdzieleniu tej specjalizacji.</li>
            <li>z czasem wasze zainteresowania się uregulują i z większą pewnością będziecie mogli wybrać co jest dla nas ważne.</li>
            <li>są fakultety dzięki którym ludzie mogą się zorientować co im się podoba.</li>
            <li>zwiększyliśmy jako szkoła nabór nauczycieli + godzin lekcyjnych z 8. na 16.</li>
            <li>głosować powinny tylko osoby, które idą na daną specjalizację.</li>
            <li>nauczyciele mieli za mało czasu na przeprowadzenie swojego materiału w starym systemie.</li>
        </ul>
    </ul>


{%endblock%}

