{% extends 'base.html' %}

{% block content %}
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'polls/Description.css' %}">

	<img class="logo" style="width:600px; top:0; position:relative; margin-top: -10vh;" src="{% static 'polls/images/wiecOS_logo.png' %}">
    <h1>Protokół z obrad Wiecu Demokracji Szkolnej w Bednarskiej Szkole Realnej w dniu 30.03
    </h1>


    <h2>Obrady prowadziło Prezydium w składzie:</h2>
    <ul>
        <li>Antoni Chmielewski</li>
        <li>Barbara Popławska</li>
        <li>Emil Voss</li>
        <li>Julia Kierszka</li>
        <li>Jakub Michałowski</li>
    </ul>

    <h2>Rolę Moderatora pełnił:</h2>
    <p>Emil Voss</p>

    <h2>Ogłoszenia:</h2>
    <ul>
        <li>Pani Dorota F. - śniadanie szkolne w dniu 07.04.22</li>
        <li>Grupa do spraw dobrostanu psychicznego członków społeczności BSR - Borys Czajkowski</li>
        <li>Ogłoszenie o organizacji prac nad stworzeniem miłej, przyjaznej przestrzeni w sali TV “w kąciku estrogenowym”</li>
        <li>Pani Maja - wolontariat- organizowanie zbiórek, świetlica sportowa, pracownia artystyczna również dla uchodźców (Lotna szkoła polsko-ukraińska)</li>
        <li>Sonia Grodecka - ogłoszenie/prośba w sprawie zbiórki bielizny dla uchodźców</li>
        <li>Ada Rączka - Skrzynka bezpieczeństwa</li>
        <li>Śniadaniowa grupa równościowa</li>

    </ul>

    <h2>Porządek obrad:</h2>

    <ul>
        <li>Wprowadzenie języka ukraińskiego:</li>
        <ul>
            <li>jako fakultet, poza planem lekcyjnym</li>
            <li>kwestia opłat, miejsca i czasu do ustalenia przez zainteresowanych, całą organizacją zajmie się Pani Marta Czyż</li>
        </ul>

        <li>Zmiany dotyczące komisji i regulaminu portfolio</li>
        <ul>
            <li>pomysł zniesienia oceny z przedmiotu portfolio na rzecz zal/nzal</li>
            <li>odbyło się głosowanie “co z ocenami portfolio?”</li>
            <li>odbyło się głosowanie “jakie zmiany wprowadzamy?”, społeczność zdecydowała, że znosimy oceny z przedmiotu portfolio</li>
            <li>Pan Stanisław Wiśniewski zaprasza na spotkanie dot. formularza portfolio</li>
        </ul>

        <li>sprawa m-legitymacji</li>
        <ul>
            <li>Pani Ola się tym zajmuje, wkrótce się to uda</li>
        </ul>

        <li>Skrzynka bezpieczeństwa (ogłoszenie)</li>
        <ul>
            <li>koordynuje tę kwestię Ada Rączka</li>
            <li>kody QR na ulotkach w holu między innymi</li>
        </ul>

        <li>Śniadaniowa grupa równościowa (ogłoszenie)</li>
        <ul>
            <li>termin spotkania 13.04 o godz. 8.30-10.30</li>
        </ul>

        <li>Komisja mediacyjna (Pani Dyrektor)</li>
        <ul>
            <li>prezentacja Pani Oli (wyjaśnienie tematu)</li>
            <li>min. 4 osoby uczniowskie i 2 nauczycieli w komisji, zaakceptowane przez 20 osób z całej społeczności szkolnej (na Wiecu)</li>
            <li>każda osoba będąca w komisji musi przejść wcześniej szkolenie z zakresu mediacji</li>
            <li>celem głównym powstania komisji jest zdjęcie odpowiedzialności z Dyrekcji</li>
            <li>w przypadku poważnych konfliktów możliwe jest również spotkanie z mediatorem nie powiązanym z sprawą w żadnym stopniu, osoba zupełnie z zewnątrz</li>
            <li>komisja ma dawać rekomendacje, a nie być sądem</li>
            <li>szczegółowy czas czas obrad do ustalenia</li>
            <li>spotkania komisji miałyby się odbywać regularnie w przypadku sporu</li>
            <li>Pani Maja Witowska- Rubaszek proponuje organizację warsztatów komunikacji bez przemocy</li>
            <li>zaproszenie do komisji również absolwentów</li>
            <li>pomysł na protokół w przypadku rozbieżności zdań komisji, żeby wiadomo było jakie są kroki do podjęcia w takiej sytuacji</li>
        </ul>

        <li>Brud i bałagan w kuchni (Michalina Borowiecka)</li>
        <ul>
            <li>Jan Olechowski szkolenie z pakowania zmywarki</li>
            <li>sprzątanie papierosów!!</li>
            <li>apel o niezrzucanie obowiązków na osoby dyżurujące</li>

        </ul>

        <li>Zachowanie uczniów na korytarzu (Michalina Borowiecka)</li>
        <ul>
            <li>problem hałasu</li>
            <li>szachy w sali TV mają ograniczyć hałas na korytarzach</li>
            <li>hałas z podstawówki - Pani Dorota F. podejmuje się rozmowy z Dyrekcją Podstawówki</li>
            <li>Pan Staś - zajmie się kwestią nagłośnienia w sali TV </li>
            <li>obecność podstawówki podczas matur</li>
            <li>relacja z podstawówką za ścianą</li>
            <li>Basia Popławska - spiszę zasady (które funkcjonują w naszej szkole i każdy powinien się do nich stosować),  a następnie powieszę w holu głównym</li>
            
        </ul>

        <li>Obiady w szkole(Tonia Białynicka)</li>
        <ul>
            <li>sprawa jest otwarta, Pani Ola jest w trakcie rozmów z innym cateringiem</li>
        </ul>
        
    </ul>


{%endblock%}

