{% extends 'auth_base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit">Sign up</button>
  </form>
  <br>
  <form action="{% url 'login' %}" method="get">
	   <input type="submit" value="Go back to login page" 
	      name="Submit" id="frm1_submit" />
	</form>
{% endblock %}