<!-- templates/registration/login.html -->
{% extends 'auth_base.html' %}

{% block title %}Login{% endblock %}


{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/login.css' %}">
<link rel="icon" href="{% static 'polls/images/icon.ico' %}"/>

	<img class="logo" src="{% static 'polls/images/wiecoslogo.svg' %}">
	

	<form class="Wform" id=Wform method="post">
	    {% csrf_token %}
		{% if Error %}
			<p>Niepoprawny login lub hasło.</p>
		{% endif %}
	    {% if form.non_field_errors %}
	    	<p>Niepoprawny login lub hasło.</p>
	    {% endif %}
	    <div class="fieldWrapper">
		    <p>{{ form.username.errors }}</p>
		    <div class=wrapper>
			    <label for="id_username"></label>
			    <div class="awrap"> 
			    	<input  class=username type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" placeholder="Login"> 
			    </div>
			</div>
			   
	  		{{ form.password.errors }}

			<div class=wrapper>
				<label for="id_password"></label>
				<div class="awrap">
					<input class=password type="password" name="password" autocomplete="current-password" required id="id_password" placeholder="Hasło">
				</div>
			</div>
		</div>

		
    	<button type="submit" class="login_Btn" id="login_Btn">Zaloguj</button>

	</form>
	<script>
		document.getElementById('id_username').addEventListener('keypress', function(event){
		    if (event.keyCode == 13) {
		        document.getElementById('Wform').submit();
		    }
	    });
	    document.getElementById('id_password').addEventListener('keypress', function(event){
		    if (event.keyCode == 13) {
		        document.getElementById('Wform').submit();
		    }
	    });
	</script>

{% endblock %}

