body {
  background: #222;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: white;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: #818181;
}

p  {
  text-align: center;
  font-size: 40px;
  color: white;
}

.sidenav .Bold {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: left;
  padding: 8px 0px 8px 8px;
  font-size: 30px;
  color: #03befc;
  transition: 0.3s;
}

.container{
  width: 500px;
  max-width: 550px;
}

.wrapper {
  position: relative;
  background: linear-gradient(to right, #FFEE77, #96F5FF);
  padding-left: 3px;
  padding-right: 3px; 
  margin: 5px;
}

.awrap {
  background: #222;
  color: white;
  padding: 2rem;
  font-family: Avenir;
  font-size: 45px;
}

.btn_wrapper{
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_awrap{
  background: #222;
  color: white;
  padding: 2rem;
  width: 500px;
  font-family: Avenir;
  font-size: 230%;
  border-width: 0px;
  width: 100%;
}

.btn {
  background: #222;
  color: white;
  padding: 2rem;
  font-family: Avenir;
  font-size: 70px;
  border-width: 0px;
  cursor: pointer;
  width: max-content;
}


.btn:hover {
  color: #03befc;
}

.open{
  font-size: 80px;
  cursor: pointer;
  margin-top: 30px;
  position: fixed;
  top: 0;
  z-index: 10;
  margin-left: 10px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav p {
  margin-top: -10px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 46px;
  margin-left: 50px;
}

a:link {
  text-decoration: none;
  color: white;
  display: block;
}
a:visited {
  color: white;
}
a:hover {
  color: #03befc;
}
a:active {
  color: white;
}

.bubble{
  right: 0;
  cursor: pointer;
  margin: 15px;
  position: fixed;
  top: 0;
  z-index: 10;
}

.bubble-span{
  height: 80px;
  width: 80px;
  font-size: 80px;
  /*   background: radial-gradient(#ec79ff 25%, #a3e2ff 50%, #FFB35C 85%);
 */
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  border-radius: 50%;
  display: inline-block;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.icon{
  position: relative;
  height: 80px;
  width: 80px;

  font-size: 1em;
  font-family: Helvetica, sans-serif;
  
  color: black;
  
}

.bubble:hover .bubble-content {
  display: block;
}

.bubble-content{
  width: 0px;
  position: fixed;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 10;
  right: 0;
  background-color: #111;
  white-space: nowrap; 
  transition: 0.5s;
  padding-top: 15px; 
  user-select: none;
  overflow: hidden;
  border-radius: 12px;
}

.bubble-content a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 35px;
  color: white;
  display: block;
  transition: 0.3s;
}

.tooltip {
  position: relative;
  float: right;
  height: 30px;
  width: 30px;
	left: 30px;
}

.tooltip-span {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 30px;
  background: #818181;
  border-radius: 50%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-content{
  position: absolute;
  visibility: hidden;
  padding: 5px 0;
  width: 300px;
  z-index: 10;
  background-color: #111;
  overflow: hidden;
  user-select: none;
  bottom: 50px;
  left: -30px;
}

.tooltip-content p{
  font-size: 20px;
  color: white;
}

.tooltip:hover .tooltip-content {
  /*width: 300px;*/
  visibility: visible;
}

.tooltip:hover .triangle {
  /*width: 300px;*/
  visibility: visible;
}

.triangle{
  visibility: hidden;
  position: absolute;
  margin-left: -5px;
  border-width: 20px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
  top: -20px;

}

.tooltip-icon{
  width: 30px;
  height: 30px;
  font-size: 1em;
  color: black;
}

.main {
  position: relative;
  margin: 0;
  margin-top: 9vh;
  display: grid;
  place-items: center;
  background: #222;
  bottom: 0;
}

.Copyright{
  position: absolute;
  left: 10px;
  color: #3e3e3e;
  user-select: none;
  top: 10px;
}

@media screen and (max-device-width: 600px) {
  .sidenav a {font-size: 50px;}
  .sidenav p {font-size: 35px;} 
  .sidenav .closebtn {font-size: 70px;}
  .sidenav .Bold {font-size: 50px;}
  .bubble-span{
    height: 120px;
    width: 120px;
  }
  .icon{
    height: 120px;
    width: 120px;
    font-size: 120px;
  }
  .bubble-content a {
    font-size: 50px;
  }
}