h1 {
  text-align: center;
  font-size: 70px;
  color: white;
  padding-bottom: 20;
}


ul.choice {
	color: #cc0099;
	text-align: center;
	list-style-type: none;
	counter-reset: list_counter;
	margin-top: 30px;
}

li.choice {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 50px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

ul.choice_rank {
	color: #b570e4;
	text-align: center;
	list-style-type: none;
	counter-reset: list_counter;
	margin-top: 30px;
}

li.choice_rank {
	max-width: 700px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 50px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

li.choice_rank::before{
	counter-increment: list_counter;
	content: counter(list_counter);
	color: white;
}


li.choice_res {
	font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chartWrapper{
	background: linear-gradient(to right, #FFEE77, #96F5FF);
	width: 85vw;
	padding: 3px; 
}

.wrapper {
  width: 80vw;
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 15px; 
  border-radius: 25px;
}

.awrap {
	border-radius: 25px;
	background: #222;
}

input {
	background-color: #222; 
	border: none;
	color: #3399ff;
	height: inherit;
	width: 70vw;;
	text-decoration: none;
	cursor: pointer;
	font-size: 150%;
}

.save_wrapper{
  margin: 0 auto;
  max-width: 500px;
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 3px;
  margin-bottom: 50px;
}

.save_btn{
  background: #222;
  color: white;
  padding: 2rem;
  width: 500px;
  font-family: Avenir;
  font-size: 230%;
}

.tooltip {
	position: relative;
	float: right;
	height: 30px;
	width: 30px;
}

.tooltip-span {
	height: 30px;
	width: 30px;
	font-size: 30px;
	background: #818181;
	border-radius: 50%;
	display: inline-block;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tooltip-content{
	position: absolute;
	visibility: hidden;
	height: 68px;
	padding: 5px 0;
	bottom: 50px;
	right:-20px;
	width: 350px;
	z-index: 10;
	background-color: #111;
	overflow: hidden;
	user-select: none;

}

.tooltip-content p{
	margin-top: 10px;
	font-size: 20px;
	color: white;
}

.tooltip:hover .tooltip-content {
	/*width: 300px;*/
	visibility: visible;
}

.tooltip:hover .triangle {
	/*width: 300px;*/
	visibility: visible;
}

.triangle{
	visibility: hidden;
	position: absolute;
	bottom: 10px;
	margin-left: -5px;
	border-width: 20px;
	border-style: solid;
	border-color: #111 transparent transparent transparent;
}

.sub{
	background: #222;
	border: none;
	font-size: 230%;
}