.first {
  margin: 10px;
  width: 650px;
}

.wrapper {
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
}

.awrap{
  background: #222;
  font-family: Avenir;
  padding: 10px;
  border-radius: inherit;
  position: relative;
}

input{
  position: relative;
  background: #222;
  border: none; 
  color: white;
  font: Avenir;
  width: 445px;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

input:focus {
  outline: none;
}

.save_wrapper{
  margin: 15px 5px 25px 5px;
  max-width: 600px;
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save_btn{
  background: #222;
  color: white;
  padding: 2rem;
  width: 500px;
  font-family: Avenir;
  font-size: 230%;
  border-width: 0px;

}

.StartWrapper{
  margin: 15px 5px 25px 5px;
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.StartBtn{
  background: #222;
  color: white;
  padding: 2rem;
  width: 500px;
  font-family: Avenir;
  font-size: 230%;
  border-width: 0px;
  top: 0;
  margin: 0;
}

.expand{
  margin-top: 10px;
  padding: 1rem;
  font-family: Avenir;
  font-size: 130%;
  border: none;
  width: 280px;
	background-color: #b6c6ff;
	border-radius: 55px;
  color: black;
  font-size: 25px;
}

.Form_wrapper {
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 10px;
  margin-bottom: 25px;
  max-width: 500px;
}

.Form_awraper{
  background: #222;
  font-family: Avenir;
  padding: 10px;
  border-radius: inherit;
  border-radius: 25px;
  place-items: center;
  width: 480px;
}
	
.tooltip-span {
	height: 30px;
	width: 30px;
	background: #818181;
	border-radius: 50%;
	display: inline-block;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tooltip-content{
	position: absolute;
	visibility: hidden;
	
	bottom: 50px;
	left: -30px;
	width: 300px;
	z-index: 10;
	right: 0; 
	background-color: #111;
	overflow: hidden;
	user-select: none;
	
}

.tooltip-content p{
	margin-top: 10px;
	font-size: 20px;
	color: white;
}

.tooltip:hover .tooltip-content {
	/*width: 300px;*/
	visibility: visible;
}

.tooltip:hover .triangle {
	/*width: 300px;*/
	visibility: visible;
}

.triangle{
	visibility: hidden;
	position: absolute;
	bottom: 10px;
	margin-left: -5px;
	border-width: 20px;
	border-style: solid;
	border-color: #111 transparent transparent transparent;
}

.logo{
	width: 550px;
	position: relative;
	top: 0;
}