.wrapper {
	position: relative;
	background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 25px;
	border-radius: 15px;
  }
  
.awrap {
	position: relative;
	display: flex;
	height: 44px;
	background: #222;
	font-family: Avenir;
	font-size: 3vh;
	padding: 10px;
	border-radius: inherit;
	align-items: center;
	justify-content: center;
}
.Side{
	position: absolute; 
	top: 0; 
	right:-50px;
}

.wrapper_checkbox {
	height: 30px;
	width: 30px;
	position: relative;
	background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
	padding: 5px;
}

.checkbox_label {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox_label > span {
    color: #34495E;
    padding: 0.5rem 0.25rem;
}

.checkbox_label > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    transition-duration: 0.3s;
    background-color: #222;
    cursor: pointer;
  }

.checkbox_label > input:checked {
    background-color: black;
}

.checkbox_label > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    left: 0.7rem;
}

.checkbox_label > input:active {
    border: 2px solid #34495E;
}

input{
	background: #222;
	border: none; 
	color: white;
	font: Avenir;
	width: 445px;
	font-size: 30px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
  }
  
  input:focus {
	outline: none;
  }
  
  
  .h1wrapper{
	  max-width: 550px;
	  padding-top: 1rem;
		padding-bottom: 1rem;
	  position: relative;
	  background: linear-gradient(to right, red, purple);
	  padding-top: 3px;
		padding-bottom: 3px;
  }
  
  .h1awrap{
	  background: #222;
	  color: white;
	  padding: 1rem;
	  width: 500px;
	  font-family: Avenir;
	  height: 55px;
  }
  
  .login_wrapper {
	  /*text-align: center;
	  padding-bottom: 50px;*/
	  margin: 0 auto;
	  max-width: 500px;
	  padding: 1rem;
	  position: relative;
	  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
	  padding: 3px;
	  margin-bottom: 50px;
	  height: 80px;
	  
  }
  
  .login_Btn {
	  margin: 0;
	  background: #222;
	  color: white;
	  padding: 1rem;
	  font-family: Avenir;
	  font-size: 230%;
	  width: 500px;
	  height: 80px;
  }
  
  .save_wrapper{
	  margin: 0 auto;
	  max-width: 500px;
	  padding: 1rem;
	  position: relative;
	  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
	  padding: 3px;
	  margin-bottom: 50px;
	  
  
  }
  
  .save_btn{
	  background: #222;
	  color: white;
	  padding: 2rem;
	  width: 500px;
	  font-family: Avenir;
	  font-size: 230%;
  }
  
  .cancelBtn{
	  position: absolute;
	  cursor: pointer;
	  font-size: 70px;
	  margin: 15px;
	  right: -80px;
	  top: -25px;
  }
  .choice_form{
	height: 55px;
	align-items: center;
	justify-content: center;
	display: flex;
  }
  
  .checkbox {
	  height: 30px;
	  width: 30px;
	  margin: 0;
  }
  
  .tooltip {
	  position: relative;
	  height: 30px;
	  width: 30px;
	  left: 60px;
	  top: -70px;
	}
	
	.tooltip-span {
	  height: 30px;
	  width: 30px;
	  background: #818181;
	  border-radius: 50%;
	  display: inline-block;
	  user-select: none;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	}
	
	.tooltip-content{
	  position: absolute;
	  visibility: hidden;
	  
	  bottom: 50px;
	  left: -30px;
	  width: 300px;
	  z-index: 10;
	  right: 0; 
	  background-color: #111;
	  overflow: hidden;
	  user-select: none;
	  
	}
	
	.tooltip-content p{
	  margin-top: 10px;
	  font-size: 20px;
	  color: white;
	}
	
	.tooltip:hover .tooltip-content {
	  /*width: 300px;*/
	  visibility: visible;
	}
	
	.tooltip:hover .triangle {
	  /*width: 300px;*/
	  visibility: visible;
	}
	
	.triangle{
	  visibility: hidden;
	  position: absolute;
	  bottom: 10px;
	  margin-left: -5px;
	  border-width: 20px;
	  border-style: solid;
	  border-color: #111 transparent transparent transparent;
	}
  
	input{
		font-size: 25px;
	}

	.logo{
		width: 550px;
		position: relative;
		top: 0;
		margin-top: -10vh; 
	  }