ul.quest {
  padding-left: 0px;
	color: black;
	list-style-type: none;
  font-weight: 100;
  width: 700px;
}

li.quest {
	text-align: center;	
}

.save_wrapper{
  display: inline-block;
  position: relative;
  background: linear-gradient(to right, #FFEE77, #96F5FF, #FFEE77);
  padding: 4px;
  margin-bottom: 50px;
}
.btn_wrapper{
  position: relative;
  background: linear-gradient(to right, #FFEE77, #96F5FF);

  margin: 5px;
  padding: 3px;
}

.btn_awrap{
  background: #222;
  padding: 2rem;
  font-family: Avenir;
  font-size: 45px;
}

.btn{
  background: #222;
  color: white;
  padding: 1rem;
  width: 250px;
  font-family: Avenir;
  font-size: 100%;
}

.text{
	color: white;
	margin: 0;
	font-family: Avenir;
  font-size: 200%;
}

p{
	color: white;
}