body {
  height: 80vh;
  margin: 0;
  display: grid;
  place-items: center;
  background: #222;
}

.Wform{
 display: grid;
 place-items: center;

}


.main{
	background: #222;
}

p{
	margin: 0;
	color: #818181;
	font-weight: 100;
}

h2 {
	font-size: 100px;
	margin-bottom: 10px;
	font: Avenir;
}

.wrapper {
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);

  /*background: linear-gradient(to right, #FFEE77, #96F5FF, #FFEE77);*/
  padding: 10px; 
  margin-bottom: 15px;
  border-radius: 25px;
}

.awrap {
  background: #222;
  color: black;
  padding: 10px;
  font-family: Avenir;
  font-size: 3vh;
  border-radius: 20px;
}

.login_Btn{
	margin: auto;
	width: 345px;
	height: 60px;
	background-color: #b6c6ff;
	border: none;
	border-radius: 55px;
  color: black;
  font-size: 25px;

}


label {
	font-size: 40px;
	font: Avenir;
}

.logo {
	margin-bottom: 5vh;
  width: 700px;
}


.username {
	background: #222;
	border: none; 
  color: white;
  font: Avenir;
  width: 445px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.username:focus {
	outline: none;
}

.password {
	background: #222;
  color: white;
  font: Avenir;
  width: 445px;
  font-size: 30px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}
.password:focus {
	outline: none;
}



/*.main{
	margin-top: 250px;
	height: 55vh;
}*/

/*.login_wrapper {
    max-width: 550px;
	padding: 1rem;
	position: relative;
	background: linear-gradient(to right, red, purple);
	padding: 3px;
	margin-bottom: 25px;
}*/

/*.login_Btn {
	background: #222;
	color: white;
	padding: 2rem;
	width: 500px;
	font-family: Avenir;
	font-size: 230%;
	
}*/

/*.logo{
	top: 0;
}

.gradient-box {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin: auto;
  position: relative;
  padding: 3px;
  box-sizing: border-box;
  background: white;
  background-clip: padding-box;*/
  /* !importanté */
  /*border: solid 5px transparent;*/
  /* !importanté */
/*  border-radius: 1em;
  margin-bottom: 5px;
}

.gradient-box:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -7px;*/
  /* !importanté */
  /*border-radius: inherit;*/
  /* !importanté */
  /*background: -webkit-gradient(linear, left top, right top, from(#deeb7a), to(98f2ed));
  background: linear-gradient(to right, #deeb7a, #98f2ed, #deeb7a);
}

label {
	font-size: 40px;
	font: Avenir;
}

.Logo {
	padding-bottom: 20px;
}

.formWrapper {
	width: 450px;
  background: linear-gradient(to right, #deeb7a, #98f2ed, #deeb7a);
  padding: 10px;

}

.username {
	background: white;
	border: none; 
  color: black;
  font: Avenir;
  width: 445px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
.username:focus {
	outline: none;
}

.password {
	background: white;
  color: black;
  font: Avenir;
  width: 445px;
  font-size: 30px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}
.password:focus {
	outline: none;
}


.wrap {
 	display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.login_Btn{
	width: 445px;
	height: 100px;
	background-color: #00A9FF;
	border: no;
	border-radius: 25%;
  	color: white;
}*/
/*.btn-grad {
	background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)
}
.btn-grad {
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
}

.btn-grad:hover {
	background-position: right center;  change the direction of the change here 
	color: #fff;
	text-decoration: none;
}
*/

