.base-timer {
  position: relative;
  height: 380px;
  width: 380px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__label {
  position: absolute;
  
  /* Size should match the parent container */
  width: 380px;
  height: 380px;
  
  
  /* Keep the label aligned to the top */
  top: 0px;
  
  /* Create a flexible box that centers content vertically and horizontally */
  display: -webkit-flex; /* NEW */
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  
}

.circle_form{
  border-radius: 50%;
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 5px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: url(#SVGID_1_);
  
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
  z-index: 9;
  position: relative;
}

.font{
  margin: 0;
	font-size: 65px;
  color: white;
  border: none;
  border-radius: 50%;
  user-select: none;
}

.font2{
  margin: 0;
	font-size: 55px;
  border: none;
  border-radius: 50%;
  user-select: none;
}

.wrapper {
	position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
	padding: 10px;
  margin-top: 15px;
	margin-bottom: 25px;
  border-radius: 15px;
}

.awrap {
  background: #222;
  font-family: Avenir;
  font-size: 3vh;
  padding: 10px;
  border-radius: inherit;
}

.topic {
  background: #222;
  border: none; 
  color: white;
  font: Avenir;
  width: 445px;
  font-size: 30px;
  margin-left: 5px;
}

.topic:focus {
  outline: none;
}

.btn {
	background: #222;
	color: white;
	padding: 2rem;
	width: 500px;
	font-family: Avenir;
	font-size: 250%;
	
}
.circlebtn {
  user-select: none;
  background: #222;
  color: white;
  padding: 0;
  font-family: Avenir;
  font-size: 65px;
  height: 320px;
  width: 320px;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  z-index: 10000000000;
}

#Circle{
  z-index: 9;
  border-radius: 50%;
}

.circlebtn:hover {
  cursor: pointer;
  
}
.cross{
  border-radius: 50%;
}

a.cancel {
  color: #888888;
  border: none;
  border-radius: 50%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000000000;
  background-color: transparent;
}

a.h2 {
  color: #818181;
  user-select: none;
}

.Status{
  margin-bottom: -30px;
  margin-top: -60px;
  user-select: none;
}

.Status p{
  color: white;
}

.save_wrapper{
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 3px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save_btn{
  background: #222;
  color: white;
  padding: 2rem;
  width: 500px;
  font-family: Avenir;
  font-size: 230%;
  border-width: 0px;
}

.saved_btn{
  background: #222;
  color: white;
  padding: 2rem;
  width: 500px;
  font-family: Avenir;
  font-size: 230%;
}

#id_topic_text{
  background: #222;
  border: none; 
  color: white;
  font: Avenir;
  width: 445px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

#id_topic_text:focus {
  outline: none;
}

.tooltip {
  position: relative;
  float: right;
  height: 30px;
  width: 30px;
  bottom: 20px;
}

.tooltip-span {
  height: 30px;
  width: 30px;
  font-size: 30px;
  background: #818181;
  border-radius: 50%;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


.tooltip-content{
  position: absolute;
  visibility: hidden;
  height: 68px;
  padding: 5px 0;
  bottom: 50px;
  left: -50px;
  width: 300px;
  z-index: 10;
  right: 0;
  background-color: #111;
  overflow: hidden;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-content p{
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.tooltip:hover .tooltip-content {
  /*width: 300px;*/
  visibility: visible;
}

.tooltip:hover .triangle {
  /*width: 300px;*/
  visibility: visible;
}

.triangle{
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  margin-left: -5px;
  border-width: 20px;
  border-style: solid;
  border-color: #111 transparent transparent transparent;
}

ul.quest {
  padding-left: 0px;
  color: black;
  list-style-type: none;
  font-weight: 100;
  width: 600px;
}

li.quest {
  text-align: center; 
}

.btn_index_wrapper {
  position: relative;
  background: linear-gradient(to right, #f5bf42, #8742f5);
  padding: 3px;
  margin: 5px;
  margin-bottom: 15px;
}

.index_wrapper {
  position: relative;
  background: linear-gradient(to right, #f5bf42, #8742f5);
  padding-left: 3px; 
  padding-right: 3px;  
  margin: 5px;
  margin-bottom: 15px;
}

.index_awrap {
  background: #222;
  color: white;
  padding: 2rem;
  font-family: Avenir;
  font-size: 45px;
  overflow-wrap: break-word;
}

.BoolWrap{
  max-width: 600px;
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.BoolBtn{
  min-width: 250px;
  background: #222;
  color: white;
  padding: 1rem;
  font-family: Avenir;
  font-size: 150%;
  border-width: 0px;
}

.Prezydium{
  position: absolute;
  right: 0;
  top: 400px;
  z-index: 10;
}

.inlineDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}

.inlineDiv p{
  font-size: 30px;
  color: white;
}

.inlineDiv a{
  font-size: 40px;
  position: absolute;
  right: 5px;
}

.List_container{
  position: absolute;
  left: 10px;
  top: 350px;
  max-width: 220px;
  z-index: 9;
}

.List_wrapper{
  padding-left: 3px;
  padding-right: 3px;
  max-width: 220px;
  background: linear-gradient(to right, #FFEE77, #96F5FF);
  min-height: 400px;
  max-height: 500px;
}

.List_aWrapper{
  background: #222;
  min-height: inherit;
  max-height: inherit;
}

.List{
  overflow-wrap: anywhere;
  min-width: inherit;
  height: inherit;
  max-height: inherit;
}

#id_username{
  background: #222;
  border: none; 
  color: white;
  font: Avenir;
  font-size: 20px;
  width: 190px;
  margin-left: 3px;
  border-radius: 15px;
}

#id_username:focus {
  outline: none;
}

.Gform_container .wrapper {
	position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
	padding: 3px;
  margin-top: 15px;
	margin-bottom: 10px;
  border-radius: 15px;
}

.Gform_container .awrap {
  background: #222;
  font-family: Avenir;
  padding: 2px;
  border-radius: inherit;
}
.Gform_container .save_btn{
  font-size: 25px;
  padding: 15px;
}

.logo{
  width: 650px;
  position: relative;
  top: 0;
  margin-top: -5vh; 
}

.main {
  min-width: 612px;
}

