ul.quest {
  padding-left: 0px;
	color: black;
	list-style-type: none;
  font-weight: 100;
  width: 100%;
}

li.quest {
	text-align: center;	
}

h2{
  margin-top: 0;
}

.save_wrapper{
  position: relative;
  background: linear-gradient(to right, #f5bf42, #540aca);
  padding: 4px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  background: #222;
  color: white;
  padding: 1rem;
  font-family: Avenir;
  font-size: 100%;
  width: 100%;
  width: -moz-available;          /* For Mozzila */
  width: -webkit-fill-available;  /* For Chrome */
  width: stretch;                 /* Unprefixed */
  
}

.text{
	color: white;
	margin: 0;
	font-family: Avenir;
  font-size: 200%;
}

p{
	color: white;
}

.main{
  grid-template-columns: 1fr 1fr;
  column-gap: 5vw;


}

.column{
  width: 100%;
  padding: 0px;
}