.first {
  margin: 10px;
}

.wrapper {
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 15px;
}

.awrap {
  background: #222;
  font-family: Avenir;
  font-size: 3vh;
  padding: 10px;
  border-radius: inherit;
}

input{
  background: #222;
  border: none; 
  color: white;
  font: Avenir;
  width: 445px;
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

input:focus {
  outline: none;
}

.save_wrapper{
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  background: linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff);
  padding: 3px;
}

.save_btn{
  background: #222;
  color: white;
  padding: 2rem;
  width: 500px;
  font-family: Avenir;
  font-size: 230%;
  border: none;
}

.logo {
  position: relative;
  padding-bottom: -10px;
  z-index: 0;
}