{% extends 'base.html' %}

{% block content %}
	{% load static %}

    <img class="logo" style="width:600px; top:0; position:relative; margin-top: -10vh;" src="{% static 'polls/images/wiecOS_logo.png' %}">
    
    <h1 style="margin-bottom: -25px">Nie możesz znowu zagłosować</h1>
    <h1>Podliczamy teraz głosy</h1>
    <img height="300" width="300" class="check" src="{% static 'polls/images/check.svg' %}">
    <form action="{% url 'polls:queue'%}">
        <div class="btn_wrapper" style='margin-top:20px;'>
            <div class="btn_awrap" style='width:auto;'><input type="submit" class="btn" value="Powrót na stronę główną" />
            </div>
        </div>
    </form>
    
{%endblock%}