{% extends 'base.html' %}

{% block title %}Detail{% endblock %}
{% load static %}

{% block content %}
  	<link rel="stylesheet" type="text/css" href="{% static 'polls/detail.css' %}">

	<h1>{{ question.question_text }}</h1>

	{% if error_message %}<p><strong>Nie zaznaczyłeś żadnej opcji.</strong></p>{% endif %}

	<form id="form-container" action="{% url 'polls:vote' question.id %}" onsubmit="return validateForm()" method="post">
		{% csrf_token %}
		<ul class="choice" id="choice">
			{% for choice in question.choice_set.all %}
				<li class="choice">
					<div class="wrapper">
						<div class="awrap">
		    				<button type="button" class="sub" id="{{ choice.choice_text }}" onclick="check('{{ choice.choice_text }}')"><p style='overflow-wrap: anywhere;'>{{ choice.choice_text }}</p></button
		    			</div>
			    	</div>
				</li>
			{% endfor %}
		</ul>

		<div class="save_wrapper">
	        <button type="submit" class="save_btn">Zagłosuj</button>
	    </div>
	</form>

	<script>
		let checked = ""
		function check(name){
			checked = name;
			btns = document.getElementsByClassName("sub")

			for (btn of btns){
				btn.parentElement.parentElement.style.background = 'linear-gradient(to right, #ec79ff, #a3e2ff, #ec79ff)';
				btn.parentElement.style.background = "#222"
				btn.style.background = "#222"
			}
			clicked = document.getElementById(name)

			clicked.parentElement.parentElement.style.background = 'linear-gradient(to right, #f5bf42, #8742f5)';
			clicked.parentElement.style.background = "#111"
			clicked.style.background = "#111"
		}
		
		function validateForm(){
			let form = document.getElementById("form-container")


			let string = `<input type="hidden"  name="choice" id="choice" required="" value='${checked}'>`
			form.insertAdjacentHTML('beforeend', string)
		}

	</script>
{% endblock %}