{% extends 'base.html' %}

{% block title %}Detail{% endblock %}
{% load static %}

{% block content %}
  	<link rel="stylesheet" type="text/css" href="{% static 'polls/detail.css' %}">

	<h1>{{ question.question_text }}</h1>

	
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form id="form-container" action="{% url 'polls:vote' question.id %}" onsubmit="return validateForm()" method="post">
		{% csrf_token %}
		<div class="tooltip">
			<span class="tooltip-span"><p class="tooltip-icon">?</p></span>
			<div class="tooltip-content" id="tooltip-content">
				<p>Wybierz swoje opcje w odpowiedniej kolejności. Nr 1 jest najważniejsze</p>
			</div>
			<div class="triangle"></div>
		</div>
		<ul class="choice_rank" id="choice">
			{% for choice in question.choice_set.all %}
				<li class="choice_rank">
					<div class="wrapper">
						<div class="awrap">
							<span class="List" name="{{choice.id}}" id="choice{{ forloop.counter }}">{{ choice.choice_text }}
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
		<div class="save_wrapper">
	        <button type="submit" class="save_btn">Zagłosuj</button>
	    </div>
	</form>

	<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
	<script>
		new Sortable(choice, {
		   animation: 150,
		   swapThreshold: 0.5,
		});


		function validateForm(){
			let form = document.getElementById("form-container")

			let list = document.querySelectorAll(".List")
			let RankedList = []

			for (let ele of list){
				RankedList.push(ele.getAttribute('name'))
			}
			console.log(RankedList)
			let string = `<input type="hidden" name="RankedList" id="id_RankedList" required="" value='` + RankedList + `''>`
			form.insertAdjacentHTML('beforeend', string)
		}
			
	</script>
{% endblock %}