{% extends 'base.html' %}

{% block content %}
	{% load static %}
	<h1>Stworzone przez ciebie głosowanie</h1>

	<div class="wrapper">
		<div style="min-width: 500px;" class="awrap">
			<p>Pytanie: {{ question }}</p>

    		{% for choice in question.choice_set.filter%}
    			<p>Opcja {{ forloop.counter }}: {{ choice }}</p>
    		{% endfor %}
		</div>
	</div>
	<div class="btn_wrapper">
		<div class="btn_awrap">
			<h2><a href="{% url 'polls:queue' %}">Wróc na stronę główną</a></h2>
		</div>
	</div>

{% endblock %}