{% extends 'base.html' %}

{% block content %}
	{% load static %}
  	<link rel="stylesheet" type="text/css" href="{% static 'polls/generate.css' %}">

	<img class="logo" src="{% static 'polls/images/wiecOS_logo.png' %}">

    <h2>Generator Głosowań</h2>
    
    <form id="form-container" method="post">

        {% csrf_token %}
        {{ formset.management_form }}
        <div class="temp" style="position: relative;">
            <div class="wrapper">
                <div class="awrap">
                    <label for="id_question_text"></label>
                    <input type="text" name="question_text" maxlength="200" required="" id="id_question_text" placeholder="Pytanie :">
                </div>
            </div>
            <div class="Side">
                <label for="id_ranked_system">&nbsp;</label>
                <div class="wrapper_checkbox">
                    <label class="checkbox_label">
                        <input type="checkbox" class="checkbox" name="ranked_system" value="0" id="id_ranked_system">
                        <span clas="span_checkbox"></span>
                    </label>
                </div>

                <div class="tooltip">
                    <span class="tooltip-span"><p class="tooltip-icon">?</p></span>
                    <div class="tooltip-content" id="tooltip-content">
                        <p>Czy chcesz użyć systemu rankingowego? Głosujesz poprzez ustalenie kolejności opcji.</p>
                    </div>
                    <div class="triangle"></div>
                </div>
            </div>
        </div>

        <!-- Kopiowanie contenerów -->
        {% for form in formset %}
            
        	<div class="wrapper">
    			<div class="awrap">
    				<div class="choice_form">
                		{{ form }}
                      
                        <p></p>
                	</div>
                </div>
            </div>
        {% endfor %}

        <div class="login_wrapper">
            <input class='login_Btn' type="submit" value="Dodaj opcję" name="Submit" id="add-form" />
        </div>
        
        <div class="save_wrapper">
            <button type="submit" class="save_btn">Zapisz</button>
        </div>
    </form>


    <script>
        let choice = document.getElementById("id_choice_set-0-choice_text")

        choice.labels[0].textContent = ""
        choice.placeholder = "Opcja : "
        let wrapper = document.querySelectorAll(".wrapper")
        let awrap = document.querySelectorAll(".awrap")
        let login_wrapper = document.querySelector(".login_wrapper")

        let choiceForm = document.querySelectorAll(".choice_form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")

        let total_forms = document.getElementById('id_choice_set-TOTAL_FORMS')

        let formNum = choiceForm.length-1
        addButton.addEventListener('click', addForm)
        console.log(choiceForm)


        function cancelField(){
            choiceForm = document.querySelectorAll(".choice_form")
            formNum = choiceForm.length-1

            let field = document.getElementById(`choice_set-${formNum}-choice_text`)
            let wrapper_temp = field.parentElement.parentElement.parentElement
            
            wrapper_temp.remove()

            choiceForm = document.querySelectorAll(".choice_form")
            formNum = choiceForm.length-1
            if(formNum != 0){
                field = document.getElementById(`choice_set-${formNum}-choice_text`)

                let cancelBtn = document.createElement("SPAN")
                cancelBtn.setAttribute('class', 'cancelBtn') 
                cancelBtn.setAttribute('id', 'cancelBtn') 
                cancelBtn.setAttribute('onclick', 'cancelField()')
                cancelBtn.innerHTML = '&times;'
                field.after(cancelBtn)
            }
        }

        function addForm(e){

            e.preventDefault()

            let newwrapper = wrapper[1].cloneNode(false)
            let newawrap = awrap[1].cloneNode(false)

            let newForm = choiceForm[0].cloneNode(true)

            formNum++

            console.log(newForm.children[1])

            newForm.children[0].setAttribute('for', `choice_set-${formNum}-choice_text`) /*Label*/
            newForm.children[1].setAttribute('id', `choice_set-${formNum}-choice_text`) /*Input*/
            newForm.children[1].setAttribute('name', `choice_set-${formNum}-choice_text`) /*Input*/
            newForm.children[1].value = ""; /*Input*/

            newawrap.appendChild(newForm);

            if (document.getElementById("cancelBtn")){
                let cancelBtn = document.getElementById("cancelBtn")
                cancelBtn.remove()
            }

            let cancelBtn = document.createElement("SPAN")
            cancelBtn.setAttribute('class', 'cancelBtn') 
            cancelBtn.setAttribute('id', 'cancelBtn') 
            cancelBtn.setAttribute('onclick', 'cancelField()')
            cancelBtn.innerHTML = '&times;'

            newawrap.appendChild(cancelBtn);


            newwrapper.appendChild(newawrap);

            

            container.insertBefore(newwrapper, login_wrapper)
            
            

            console.log(choiceForm)
            let value = parseInt(total_forms.getAttribute('value'))
            total_forms.setAttribute('value', value + 1)

        }
    </script>
    {% block script %}
	{% endblock %}
{% endblock %}
