{% extends 'base.html' %}
{% load static %}

{% block title %}Index{% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">

  <h1>Tematy</h1>
  {% if verified != None %}
    <ul class="quest">
      {% for topic in verified %}
        <li class="quest"><div class="wrapper"><div class="awrap">{{ topic.topic_text }}</div></div></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No topics are available.</p>
  {% endif %}
  
  <h1>Głosowania</h1>
  {% if latest_question_list %}
    <ul class="quest">
      {% for question in latest_question_list %}
        <p>Data publikacji : {{question.pub_date}}</p> 
        <li class="quest"><div class="wrapper"><a class=awrap href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></div></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock %}