{% extends 'base.html' %}
<!-- Dodaj gradient -->
{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/queue.css' %}">

	<img class="logo" src="{% static 'polls/images/wiecoslogo.svg' %}">

	<h2><a href="{% url 'polls:verifyIndex' wiec_id %}" class="h2">Lista tematów</a></h2>

	<div id="Status" class="Status"></div>

	<div id="Circle"></div>


	{% for group in request.user.groups.all %}
      	{% if group.name == 'Prezydium' %}
		 	<div id="List_container" class="List_container">
				<h2 style="margin-bottom: 0; color: white;">Kolejka</h2>
				<div id="List_wrapper" class="List_wrapper">
					<div class="List_aWrapper">	
						<div id="List" class="List">
						</div>
					</div>
				</div>
			
				<form id="Gform-container" method="post">
					{% csrf_token %}
					{{ Gform.management_form }}
					<div class="Gform_container">
						<div class="wrapper">
							<div class="awrap">
								<input type="text" placeholder="nazwa użytkownika" name="username" maxlength="20" required="" id="id_username">
							</div>
						</div>
						<div class="save_wrapper">
							<button type="submit" class="save_btn">Dodaj do kolejki</button>
						</div>
					</div>
				</form>
			</div>
			<div class="Prezydium">
				{% if active.queue == False %}
					<form action="{% url 'polls:StartQueue'%}">
						<div class="BoolWrap">
							<input type="submit" class="BoolBtn" value="Otwórz mównicę" />
						</div>
					</form>
				{% endif %}
				{% if active.queue == True %}
					
					<form action="{% url 'polls:StopQueue'%}">
						<div class="BoolWrap">
							<input type="submit" class="BoolBtn" value="Zamknij mównicę" />
						</div>
					</form>
				{% endif %}

				{% if active.vote == True %}
					<form action="{% url 'polls:StopVote' %} ">
						<div class="BoolWrap">
							<input type="submit" class="BoolBtn" value="Zakończ głosowanie" />
						</div>
					</form>
				{% endif %}
				{% if active.wiec == True %}
					<form action="{% url 'polls:StopWiec'%}">
						<div class="BoolWrap">
							<input type="submit" class="BoolBtn" value="Zakończ wiec" />
						</div>
					</form>
				{% endif %}
			</div>
		{% endif %}
    {% endfor %}

	<form id="form-container" method="post">
		{% csrf_token %}
		{{ formset.management_form }}
		<div class="tooltip">
			<span class="tooltip-span"><p class="tooltip-icon">?</p></span>
			<div class="tooltip-content" id="tooltip-content">
				<p style="margin:2px;">Tutaj możesz zgłosić temat, który powinien być omówiony na wiecu</p>
			</div>
			<div class="triangle"></div>
		</div>
		<div class="wrapper">
		    <div class="awrap">
		        <input type="text" name="topic_text" maxlength="200" required="" id="id_topic_text" placeholder="Wpisz temat">
		    </div>
		</div>
		<div class="save_wrapper">
	        <button type="submit" class="save_btn">Zgłoś Temat</button>
	   </div>
	</form>

	{% if questions %}
		<ul class="quest">
			<h2>Wyniki</h2>
			{% for question in questions %}
				<li class="quest">
					<div class="btn_index_wrapper">
						<a class="index_awrap" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if personal_announcement != None %}
	<h2>Twoje zaakceptowane ogłoszenia</h2>
	<ul class="quest">
		{% for announcement in personal_announcement %}
		<li class="quest"><div class="index_wrapper"><div class="index_awrap">{{ announcement.announcement_text }}</div></div></li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if personal_topics  != None %}
	<h2>Twoje zaakceptowane tematy</h2>
	<ul class="quest">
		{% for topic in personal_topics %}
		<li class="quest"><div class="index_wrapper"><div class="index_awrap">{{ topic.topic_text }}</div></div></li>
		{% endfor %}
	</ul>
	{% endif %}
	<br>

	<script
			  src="https://code.jquery.com/jquery-3.6.0.js"
			  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			  crossorigin="anonymous"></script>


	<script>
		document.getElementById("id_topic_text").value = "" 

		let old_data = {}; 

		let FULL_DASH_ARRAY = 283;
		let TIME_LIMIT = 180;
						
		let timePassed = 0;

		let timeLeft = null;

		let timerInterval = null;

		

		function EnterMouse() {
			const status = document.getElementById("Status") 
			const text1 = document.getElementById("base-timer-label")
			
			console.log("enter1")
			text1.innerHTML = `<a href="{% url 'polls:delete' %}" class='cancel'>
				<img class="cross" src="{% static 'polls/images/cross.png' %}">
				</a>`
			if (old_data['Order'] == 1){
				status.innerHTML = "<p>Czy na pewno chcesz zakończyć wypowiedź</p>";
			} else{
				status.innerHTML = "<p>Czy na pewno chcesz wyjść z kolejki?</p>";
			}
		}

		function LeaveMouse() {	
			const status = document.getElementById("Status") 
			const text1 = document.getElementById("base-timer-label")		

			text1.innerHTML = `<p class="font" id="text1">Jesteś<br>` + old_data['Order'] + `</p>`
			console.log("leave1")
			status.innerHTML = "<p>Aktualnie wypowiada się: " + old_data['First']['username'] + "</p>";
		}

		$(function (){

			$.ajax({
				url: '{% url "polls:Qdata"%}',

				success: function(data){
					old_data['queue'] = data.queue

					old_data['First'] = data.First
					old_data['Active_queqe'] = data.Active_queqe
					old_data['Order'] = data.Order

					if (data.queue != "None"){
						{% for group in request.user.groups.all %}
							{% if group.name == 'Prezydium' %}
								let List = document.getElementById("List") 
								for (let number of data.queue[0]){
									let inline = document.createElement("DIV")
									inline.setAttribute("class", "inlineDiv")
									inline.setAttribute("id", "inlineDiv")
									let p = document.createElement("p") 
									p.textContent = `${data.queue[0][number-1]}. ${data.queue[1][number-1]} `
									
									inline.insertAdjacentElement('beforeend', p)

									if (number==1){
										let a = document.createElement("a") 
										a.setAttribute("href", "{% url 'polls:delete_first' %}")
										a.innerHTML = '&times;'
										inline.insertAdjacentElement('beforeend', a)
									}
									List.insertAdjacentElement('beforeend', inline)
								}
							{% endif %}
						{% endfor %}
					}

                    document.getElementById("Status").innerHTML = "<p>Aktualnie nikt się nie wypowiada</p></span>"

                    document.getElementById("Circle").innerHTML = `
                    <div class="base-timer" >
                        <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <g class="base-timer__circle">
                            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>

                            <linearGradient id="SVGID_1_" x1="224.92" y1="0" x2="224.92" y2="200" gradientUnits="userSpaceOnUse">
                                    <stop  offset="0" style="stop-color:#E942FF"/>
                                    <stop  offset="0.25" style="stop-color:#99e9fc"/>
									<stop  offset="0.5" style="stop-color:#FFB35C"/>
                                </linearGradient>
                            <path
                            id="base-timer-path-remaining"
                            stroke-dasharray="283"
                            class="base-timer__path-remaining stroke=url(#SVGID_1_)"
                            d="
                                M 50, 50
                                m -45, 0
                                a 45,45 0 1,0 90,0
                                a 45,45 0 1,0 -90,0
                            "
                            ></path>
                        </g>
                        </svg>

                        <div id="base-timer-label" class="base-timer__label">
                        <form class="circle_form" action="{% url 'polls:add' %}" method="get">
                            
                            <input class="circlebtn" type="submit" value="Zgłoś się" />
                            
                        </form></div>

                        
                    </div>
                    `;
	
					console.log(old_data, "fsdfsd")



					console.log(data.Time);
					FULL_DASH_ARRAY = 283;
					TIME_LIMIT = 180;
					

					timePassed = 0;

					if (TIME_LIMIT < data.Time){
						timePassed = TIME_LIMIT-1;
					} else {
						timePassed = data.Time;
					}
					
					
					timeLeft = TIME_LIMIT;

					console.log(timePassed);
					
					
					if (data.First != "None"){
						const status = document.getElementById("Status") 
						const Circle = document.getElementById("Circle")
						
						const text1 = document.getElementById("base-timer-label")
						status.innerHTML = "<p>Aktualnie wypowiada się: " + data.First['username'] + "</p>"

						if (old_data['Order'] === undefined){
							text1.innerHTML = `<form class="circle_form" action="{% url 'polls:add' %}" method="get"><input class="circlebtn" type="submit" value="Zgłoś się" /></form>`
							
						}else{
							text1.innerHTML = `<p class="font" id="text1">Jesteś<br>` + old_data['Order'] + `</p>`
							
							Circle.addEventListener("mouseenter", EnterMouse)
							Circle.addEventListener('mouseleave', LeaveMouse)
						};
					}
					
					startTimer();

					function onTimesUp() {
						clearInterval(timerInterval);
					}

					function startTimer() {
						timerInterval = setInterval(() => {
						timePassed = timePassed += 1;
						timeLeft = TIME_LIMIT - timePassed;

						setCircleDasharray();

						if (timeLeft === 0) {
							onTimesUp();
						}
						}, 1000);
					}

					function formatTime(time) {
						let minutes = Math.floor(time / 60);
						let seconds = time % 60;

						if (seconds < 10) {
						seconds = `0${seconds}`;
						}

						return `${minutes}:${seconds}`;
					}

					function calculateTimeFraction() {
						let rawTimeFraction = timeLeft / TIME_LIMIT;
						return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
					}

					function setCircleDasharray() {
						let circleDasharray = `${(
						calculateTimeFraction() * FULL_DASH_ARRAY
						).toFixed(0)} 283`;
						document
						.getElementById("base-timer-path-remaining")
						.setAttribute("stroke-dasharray", circleDasharray);
					}
					
					if (data.Order == undefined && data.Active_queqe == false){
						const text1 = document.getElementById("base-timer-label")
						text1.innerHTML = `<p class=font2>Kolejka jest zamknięta</p>`
						Circle.removeEventListener("mouseenter", EnterMouse)
						Circle.removeEventListener("mouseleave", LeaveMouse)
					}
				},

				failure: function(data){
					console.log("failure");
				}

			})
		});

		setInterval(function (){

			$.ajax({
				url: '{% url "polls:Qdata"%}',

				success: function(data){
					if (data.Order == "None" && data.Active_queqe == false){
						const text1 = document.getElementById("base-timer-label")
						
						text1.innerHTML = `<p class=font2>Kolejka jest zamknięta</p>`
					}
					if (old_data['Active_queqe'] != data.Active_queqe){	
						console.log("Active_queqe")					
						console.log(old_data["Active.queue"], data.Active_queue)
						if (data.Active_queqe == true){
							alert("Kolejka została otworzona")

							const text1 = document.getElementById("base-timer-label")
							text1.innerHTML = `<form class="circle_form" action="{% url 'polls:add' %}" method="get"><input class="circlebtn" type="submit" value="Zgłoś się" /></form>`
						} else {
							alert("Kolejka została zamknięta. Nie możesz się już zgłosić")
						}
						old_data['Active_queqe'] = data.Active_queqe
					}
					
					if (data.First['id'] != old_data['First']['id']){
						console.log("First")
						old_data['First'] = data.First;

						if (old_data['First'] == "None"){
							document.getElementById("Status").innerHTML = `<p>Aktualnie nikt się nie wypowiada</p>`;
						} else {
							document.getElementById("Status").innerHTML = `<p>Aktualnie wypowiada się: ` + data.First['username'] + `</p>`;
						}

						
						FULL_DASH_ARRAY = 283;
						TIME_LIMIT = 180;
						

						timePassed = 0;

						if (TIME_LIMIT < data.Time){
							timePassed = TIME_LIMIT-1;
							console.log("True")
						} else {
							timePassed = data.Time;
						}

						
						
						timeLeft = TIME_LIMIT;

						console.log(timeLeft, 'timeLeft')
                        clearInterval(timerInterval);

                        startTimer();

						function onTimesUp() {
						  clearInterval(timerInterval);
						}

						function startTimer() {
						  timerInterval = setInterval(() => {
						    timePassed = timePassed += 1;
						    timeLeft = TIME_LIMIT - timePassed;

						    setCircleDasharray();

						    if (timeLeft === 0) {
						      onTimesUp();
						    }
						  }, 1000);
						}

						function formatTime(time) {
						  let minutes = Math.floor(time / 60);
						  let seconds = time % 60;

						  if (seconds < 10) {
						    seconds = `0${seconds}`;
						  }

						  return `${minutes}:${seconds}`;
						}

						function calculateTimeFraction() {
						  let rawTimeFraction = timeLeft / TIME_LIMIT;
						  return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);
						}

						function setCircleDasharray() {
						  let circleDasharray = `${(
						    calculateTimeFraction() * FULL_DASH_ARRAY
						  ).toFixed(0)} 283`;
						  document
						    .getElementById("base-timer-path-remaining")
						    .setAttribute("stroke-dasharray", circleDasharray);
						}
                        
                        
					}

                    if (old_data['Order'] != data.Order){
						console.log("order")
                        const text1 = document.getElementById("base-timer-label")
                        const status = document.getElementById("Status")
						
						const Circle = document.getElementById("Circle")

                        old_data['Order'] = data.Order 

                        
                        if (old_data['Order'] === undefined){
                            text1.innerHTML = `<form action="{% url 'polls:add' %}" method="get"><input class="circlebtn" type="submit" value="Zgłoś się" /></form>`
                            Circle.removeEventListener("mouseenter", EnterMouse)
                            Circle.removeEventListener("mouseleave", LeaveMouse)
                        }else{
                            text1.innerHTML = `<p class="font" id="text1">Jesteś<br>` + old_data['Order'] + `</p>`
                            status.innerHTML = "<p>Aktualnie wypowiada się: " + old_data['First']['username'] + "</p>"
                            
							Circle.removeEventListener("mouseenter", EnterMouse)
                            Circle.removeEventListener("mouseleave", LeaveMouse)
                   
                            Circle.addEventListener("mouseenter", EnterMouse)
                            Circle.addEventListener('mouseleave', LeaveMouse)
                        };
                        
                        
                    }
					{% for group in request.user.groups.all %}
						{% if group.name == 'Prezydium' %}
							
							if (data.queue != "None"){
								
								diff = false
								
								if (data.queue[1].length > old_data['queue'][1].length){
									for (let number of data.queue[0]){
										if (data.queue[1][number-1] != old_data['queue'][1][number-1]){
											diff = true
										}
									}
								} else {
									for (let number of old_data['queue'][0]){
										if (data.queue[1][number-1] != old_data['queue'][1][number-1]){
											diff = true
										}
									}
								}

								if (old_data['queue'] == "None"){
									diff = true
								}

								if (diff == true){
									
									let container = document.getElementById("List_container")
									let h2 = document.createElement("h2")
									h2.setAttribute("style", "margin-bottom: 0; color: white;")
									h2.textContent = "Kolejka"
									
									let List_wrapper = document.createElement("div")
									List_wrapper.innerHTML = `<div class="List_aWrapper"><div id="List" class="List"></div></div>`
									
									container.children[0].innerHTML = h2.innerHTML
									container.children[1].innerHTML = List_wrapper.innerHTML

									let List = document.getElementById("List")
									for (let number of data.queue[0]){
										let inline = document.createElement("DIV")
										inline.setAttribute("class", "inlineDiv")
										let p = document.createElement("p") 
										p.textContent = `${data.queue[0][number-1]}. ${data.queue[1][number-1]} `
										
										inline.insertAdjacentElement('beforeend', p)

										if (number==1){
											let a = document.createElement("a") 
											a.setAttribute("href", "{% url 'polls:delete_first' %}")
											a.innerHTML = '&times;'
											inline.insertAdjacentElement('beforeend', a)
										}
										List.insertAdjacentElement('beforeend', inline)
									}
									diff = false
									old_data['queue'] = data.queue
								}
								
							} else if (data.Active_queqe != false){
								let container = document.getElementById("List_container")
								let h2 = document.createElement("h2")
								h2.setAttribute("style", "margin-bottom: 0; color: white;")
								h2.textContent = "Kolejka"
								
								let List_wrapper = document.createElement("div")
								List_wrapper.innerHTML = `<div class="List_aWrapper"><div id="List" class="List"></div></div>`
								
								container.children[0].innerHTML = h2.innerHTML
								container.children[1].innerHTML = List_wrapper.innerHTML
							}
						{% endif %}
					{% endfor %}	
						
					if (data.Order == undefined && data.Active_queqe == false){
						const text1 = document.getElementById("base-timer-label")
						text1.innerHTML = `<p class=font2>Kolejka jest zamknięta</p>`
						Circle.removeEventListener("mouseenter", EnterMouse)
						Circle.removeEventListener("mouseleave", LeaveMouse)
					}
				},

				failure: function(data){
					console.log("failure");
				}

			})
		}, 1000);
		setTimeout(function (){
			{% if topic_saved  == True %}
				alert("Twój temat został zgłoszony do prezydium")
			{% endif %}
		}, 100);
	
	</script>
	
{% endblock %}