{% extends 'base.html' %}

{% block title %}Results{% endblock %}
{% load static %}

{% block content %}
  	<link rel="stylesheet" type="text/css" href="{% static 'polls/detail.css' %}">

  	{% block Again %}
	{% endblock %}

	<h1 style="width: 90vw; overflow-wrap: break-word;">{{ question.question_text }}</h1>

	<h2>Wyniki głosowania:</h2>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  	<div class="chartWrapper">
      <div class="awrap"> 
				<canvas id="myChart" data-url='{% url "polls:data" question.id %}'></canvas> 
			</div>
		</div>
		
		
	<script>
		$(function (){
			var $myChart = $("#myChart");
			$.ajax({
				url: $myChart.data("url"),

				success: function(data){

					Labels = data.Labels
					Data = data.Data

					final_data = Labels.map(function(d, i){
						return {
							label: d,
							data: Data[i] || 0
						};
					});
					sorted_final_data = final_data.sort(function(a,b) {
						return b.data > a.data;
					});

					newLabels = []
					newData = []

					sorted_final_data.forEach(function(d){
						newLabels.push(d.label);
						newData.push(d.data);
					});

					var ctx = $myChart[0].getContext("2d");

					
					var gradient = ctx.createLinearGradient(0, 0, 0, 600);
					gradient.addColorStop(0, '#f5bf42');
					gradient.addColorStop(0.5, '#8742f5');
					gradient.addColorStop(1, 'red');

					new Chart(ctx, {
						type: 'bar',
						data: {
							labels: newLabels,
							datasets:[{
								fillColor: gradient,
								label: "Wyniki",
								backgroundColor: gradient,
								data: newData,
							}]
						},
						options: {
							legend: {
								labels: {
									fontColor: "white"
								}
							},
							scales: {
								yAxes: [{
									display: true,
									ticks: {
										beginAtZero: true,
										stepSize: 1,
										fontColor: "white"
									}
								}],
								xAxes: [{
									ticks: {
										fontColor: "white",
									}
								}]
							}
						}
					});

				}
			});
		});
	</script>

{% endblock %}