{% extends 'base.html' %}
{% load static %}

{% block title %}TopicManager{% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/verify.css' %}">
  <div class="column">
    <h1>Ogłoszenia</h1>
    {% if wiec_announcement_list %}
      <ul class="quest">
        {% for announcement in wiec_announcement_list %}
          <li class="quest">
            <div class="wrapper">
              <div class="awrap"> 
                <p class="text">{{ announcement.announcement_text }}</p>
                {% if announcement.user.first_name%}
                  <h2>{{ announcement.user.first_name }}  {{ announcement.user.last_name }} </h2>
                {% else %}
                  <h2>{{ announcement.user.username }}</h2>
                {% endif %}      
                <form action="{% url 'polls:verifyManager' announcement.id 0 %}" method="post">
                  {% csrf_token %}
                  <div class="save_wrapper">
                    <input class="btn" name="verify" type="submit" value="Zatwierdź"/>

                    <input class="btn" name="delete" type="submit" value="Usuń"/>
                  </div>
                </form>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nie ma żadnych ogłoszeń do sprawdzenia</p>
    {% endif %}
  </div>
  <div class="column">
    <h1>Tematy</h1>
    {% if wiec_topic_list %}
      <ul class="quest">
        {% for topic in wiec_topic_list %}
          <li class="quest">
            <div class="wrapper">
              <div class="awrap"> 
                <p class="text">{{ topic.topic_text }}</p>
                {% if topic.user.first_name%}
                  <h2>{{ topic.user.first_name }}  {{ topic.user.last_name }} </h2>
                {% else %}
                  <h2>{{ topic.user.username }}</h2>
                {% endif %}      
                <form action="{% url 'polls:verifyManager' topic.id 1%}" method="post">
                  {% csrf_token %}
                  <div class="save_wrapper">
                    <input class="btn" name="verify" type="submit" value="Zatwierdź"/>

                    <input class="btn" name="delete" type="submit" value="Usuń"/>
                  </div>
                </form>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nie ma żadnych tematów do sprawdzenia</p>
    {% endif %}
  </div>
{% endblock %}

