{% extends 'base.html' %}
{% load static %}

{% block title %}TopicManager{% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
  
  {% if verified_announcement != None %}
    <h1>Ogłoszenia</h1>
    <ul class="quest">
      {% for announcement in verified_announcement %}
        <li class="quest">
          <div class="wrapper">
            <div class="awrap">
              {{ announcement.announcement_text }}
              
              {% for group in request.user.groups.all %}
                {% if group.name == 'Prezydium' %}
                  {% if announcement.user.first_name%}
                    <h2 style="margin:0;">{{ announcement.user.first_name }}  {{ announcement.user.last_name }} </h2>
                  {% else %}
                    <h2 style="margin:0;">{{ announcement.user.username }}</h2>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </li>
       
      {% endfor %}
    </ul>
  {% endif %}

  
  {% if verified_topic != None %}
    <h1>Tematy</h1>
    <ul class="quest">
      {% for topic in verified_topic %}
        <li class="quest">
        <div class="wrapper">
          <div class="awrap">
            {{ topic.topic_text }}
            {% for group in request.user.groups.all %}
              {% if group.name == 'Prezydium' %}
                {% if topic.user.first_name%}
                  <h2 style="margin:0;">{{ topic.user.first_name }}  {{ topic.user.last_name }} </h2>
                {% else %}
                  <h2 style="margin:0;">{{ topic.user.username }}</h2>
                {% endif %}  
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if verified_topic == None and verified_announcement == None %}
    <p>Żadne tematy ani ogłoszenia nie są dostępne</p>
  {% endif %}


{% endblock %}

