{% extends 'base.html' %}
{% load static %}

{% block title %}Index{% endblock %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/index.css' %}">
  <h1 style="margin: 0; font-size: 80px">{{Title}}</h1>
  <h2 style="margin: 0; font-size: 30px;">{{Date}}</h2>  
  {% if Summary == True %}
    <div class="btn_wrapper"><a class="btn_awrap" href="{% url 'polls:wiecSummary' id %}">Podsumowanie Wiecu</a></div>
  {% endif %}

  <h1 style="font-size: 60px;">Tematy</h1>
  {% if verified %}
    <ul class="quest">
      {% for topic in verified %}
        <li class="quest"><div class="wrapper"><div class="awrap">{{ topic.topic_text }}</div></div></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Brak dostępnych tematów</p>
  {% endif %}

  <h1 style="margin-top: 40px; margin-bottom: 0; font-size: 60px;">Głosowania</h1>
  {% if wiec_question_list %}
    <ul class="quest">
      {% for question in wiec_question_list %}
        <p>Data publikacji: {{question.pub_date}}</p> 
        <li class="quest"><div class="btn_wrapper"><a class="btn_awrap" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></div></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Brak dostępnych głosowań</p>
  {% endif %}
{% endblock %}