{% extends 'base.html' %}

{% block content %}
	{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/wiec_generate.css' %}">

    <img class="logo" src="{% static 'polls/images/wiecOS_logo.png' %}">
    
  	<form id="form-container" onsubmit="return validateForm()" method="post">
        {% csrf_token %}
        

        {{ Wform.Title.errors }}

        <div class=wrapper>
            <div class="awrap"> 
                <input id="id_Title" required class="Title" type="text" name="Title" autocapitalize="none" maxlength="150" placeholder="Tytuł"> 
            </div>
        </div>

        <div class=wrapper>
            <div class="awrap"> 
                <input id="id_Date" required class="Date" type="date" name="Date" autocapitalize="none" maxlength="150" placeholder="Data"> 
            </div>
        </div>

        <div class=wrapper>
            <div class="awrap"> 
                <input id="id_Time" required class="Time" type="time" name="Time" autocapitalize="none" maxlength="150" placeholder="Godzina"> 
            </div>
        </div>
        
        <div class="save_wrapper">
            <button type="submit" id="save_btn" class="save_btn">Stwórz wiec</button>
        </div>
        
    </form>
    <script>
        let submit = document.getElementById("save_btn")

        let form = document.getElementById("form-container")


        function validateForm(){
            

            let date = document.getElementById("id_Date").value
            let time = document.getElementById("id_Time").value

            let dateTime = date + " " + time

            let string = `<input type="hidden" name="StartDate" id="id_StartDate" required="" value="` + dateTime + `">`

            form.insertAdjacentHTML('beforeend', string)

            
        }

    </script>
{% endblock %}