<!-- templates/auth_base.html -->
<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/base.css' %}">
<link rel="icon" href="{% static 'polls/images/icon.ico' %}"/>

<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}Auth_base{% endblock %}</title>
</head>
<body>
  <main>
  	<div class="main">
		{% block content %}
    	{% endblock %}
	</div>
  </main>
</body>
</html>
