<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/base.css' %}">
<link rel="icon" href="{% static 'polls/images/icon.ico' %}"/>

<html ontouchmove>
<head>
  <meta charset="utf-8">
  <title>{% block title %}WiecOS{% endblock %}</title>
</head>

<body onclick tabIndex=0>
  <main>
		<span onclick="openNav()" class="open">
      <div style="margin-bottom: 10px;width: 80px;height: 10px;background-color: white;"></div>
      <div style="margin-bottom: 10px;width: 80px;height: 10px;background-color: white;"></div>
      <div style="margin-bottom: 10px;width: 80px;height: 10px;background-color: white;"></div>
	  </span>

		<div class="bubble">
			<span onclick="Bubble()" class="bubble-span" id="bubble-span"></span>
			<div class="bubble-content" id="bubble-content">
				<a href="{% url 'logout' %}">Wyloguj się</a>
			</div>
		</div>

    

		<div id="mySidenav" class="sidenav">
      <div id="Copyright" class="Copyright">&copy; Jakub Michałowski</div>
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
 

      

		</div>
		<div id="main" class="main">
		    {% block content %}
		    {% endblock %}
		</div>
    

  </main>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>


	let bubble_span = document.getElementById("bubble-span")

	let username = "{{ user.username }}"

	bubble_span.innerHTML = '<p class="icon">' + username.charAt(0).toUpperCase() + '</p>'

	console.log(bubble_span)

	let nav = document.getElementById("mySidenav")

	nav.display = "none";

	function openNav() {
    let mql = window.matchMedia('(max-device-width: 600px)');
    if (mql.matches == true){
	    nav.style.width = "350px";
    } else {
      nav.style.width = "250px";
    }
	}

	function closeNav() {
	  nav.style.width = "0";
	}

  function Bubble() {
    let bubble_content = document.getElementById("bubble-content")
    if (bubble_content.style.width == "0px" || bubble_content.style.width == "" ){
      let mql = window.matchMedia('(max-device-width: 600px)');
      if (mql.matches == true){
        bubble_content.style.width = "auto";
      } else {
        bubble_content.style.width = "220px";
      }
    } else {
      bubble_content.style.width = "0";
    }
    
  }

  

	$(function (){
		String.prototype.replaceAt = function(index, replacement) {
      return this.substr(0, index) + replacement + this.substr(index + replacement.length);
    }

		$.ajax({
			url: '{% url "polls:wiecJson"%}',

			success: function(data){
          let string = ""
          if (data.latest_wiec == null || data.latest_wiec['Active'] == false){
            string += `<a style="padding-top: 60px;" href="{% url 'polls:Home' %}">Główna strona</a>`
          } else {
            string = `<a style="padding-top: 60px;" href="{% url 'polls:queue' %}">Główna strona</a>`
          }
          if (data.latest_wiec != null){
            string += `<a href="/polls/Verify/index/${data.latest_wiec['id']}/">Tematy i Ogłoszenia</a>`
          }
          {% for group in request.user.groups.all %}
            {% if group.name == 'Prezydium' %}
            if (data.latest_wiec != null){
              string += `<a href="/polls/Verify/verify_index/${data.latest_wiec['id']}/">Weryfikacja prezydium</a>`
            }

            string += `<a href="{% url 'polls:generate' %}">Generator głosowań</a>`
            {% endif %}
            {% if group.name == 'Organizator' %}
            string += `<a href="{% url 'polls:wiec_generate' %}">Generator wiecu</a>`
            {% endif %}
          {% endfor %}

          nav.insertAdjacentHTML('beforeend',string)
          
          if (data.Wiece != null){
            let arch = 0
            for (wiec of data.Wiece){
              let temp = ""
              let string = ''

              if (wiec['Finnished'] == true && arch == 0){
                string += '<p class=Bold>Archiwalne wiece:</p>'
                arch += 1
              }
              if (wiec['Active'] == true && wiec['id'] == data.latest_wiec['id']) {
                string += `<a href="/polls/wiec/${wiec['id'].toString()}/">Aktualny wiec</a>`
              } else {
                string += `<a href="/polls/wiec/${wiec['id'].toString()}/">${wiec['Title']}</a>`
              }

              let i = 0;

              for (question of data.Questions){
                if (question.wiec_id == wiec['id']){
                  temp += `<p>${question.question_text}</p>`
                  i += 1;
                }
                if (i==3){
                  break
                }
              }
              string += temp
              nav.insertAdjacentHTML('beforeend',string)
              }
            
          }

			}
	  	})
		})

  let old_data_base = {}
  setInterval(function (){
    $.ajax({
      url: '{% url "polls:BaseData"%}',
        success: function(data){
          if (old_data_base["active_question"] == true && data.active_question == false){
            alert("Głosowanie się zakończyło")
            {% block url_redirect %}
		        {% endblock %}
          }
          if (old_data_base["active_question"] == false && data.active_question == true){
            alert("Głosowanie się rozpoczęło")
            location.reload();
          }
          
          old_data_base["active_question"] = data.active_question
          
        },
        failure: function(data){
          console.log("failure");
        }
    })

  }, 3000);  
</script>
</body>
</html>
