{% extends 'base.html' %}

{% block title %}WiecOS{% endblock %}

{% block content %}

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'polls/first.css' %}">

	<img class="logo" src="{% static 'polls/images/wiecoslogo.svg' %}">
	{% if Planned %}
		<h1 class="first">{{ Title }}</h1>
		<h2 class="first">Następny wiec rozpocznie się o godzinie:</h2>
		<h2 class="first">{{ Hour }}:{{ Minute }}</h2>

		{% for group in request.user.groups.all %}
			{% if group.name == 'Prezydium' %}
				<form action="{% url 'polls:StartWiec'%}">
					<div class="StartWrapper">
					<input type="submit" class="StartBtn" value="Rozpocznij wiec" />
				</div>
				</form>
			{% endif %}
    	{% endfor %}
	{% else %}
		<h2 style="max-width: 700px;">Żaden wiec aktualnie nie jest zaplanowany</h2>
	{% endif %}
    
	<form id="form-container" method="post">
		{% csrf_token %}
		{{ formset.management_form }}
		<div class="tooltip">
			<span class="tooltip-span"><p class="tooltip-icon">?</p></span>
			<div class="tooltip-content" id="tooltip-content">
				<p style="margin: 5px;">Tutaj możesz zgłosić temat, który powinien być omówiony na wiecu</p>
			</div>
			<div class="triangle"></div>
		</div>
		<div class="wrapper">
			<div class="awrap">
				<label for="id_topic_text"></label>
				<input type="text" name="topic_text" maxlength="200" id="id_topic_text" placeholder="Temat">
			</div>
		</div>

		<div class="tooltip">
			<span class="tooltip-span"><p class="tooltip-icon">?</p></span>
			<div class="tooltip-content" id="tooltip-content">
				<p style="margin: 5px;">Tutaj możesz się zgłosić, aby przekazać ważne informacje społeczności szkolnej.</p>
			</div>
			<div class="triangle"></div>
		</div>

		<div class="wrapper">
			<div class="awrap">
			 	<label for="id_announcement_text"></label>
				<input type="text" name="announcement_text" maxlength="200" id="id_announcement_text" placeholder="Ogłoszenie">
			</div>
		</div>
		<div class="save_wrapper">
			<button type="submit" class="save_btn">Zgłoś</button>
		</div>
	</form>
	
	<script
		src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
		crossorigin="anonymous">
	</script>
	
	<script>
		let topic = document.getElementById("id_topic_text")

		topic.placeholder = "Temat" 
		topic.labels[0].textContent = ""

		let announcement = document.getElementById("id_announcement_text")

		announcement.placeholder = "Ogłoszenie"
		announcement.labels[0].textContent = ""
		
		setTimeout(function (){
			{% if topic_saved == True and announcement_saved == True %}
				alert("Twój temat i ogłoszenie zostały zgłoszone do prezydium")
			{% elif topic_saved == True %}
				alert("Twój temat został zgłoszony do prezydium")
			{% elif announcement_saved  == True %}
				alert("Twoje ogłoszenie zostało zgłoszone do prezydium")
			{% endif %}
		}, 100);
		
	</script>
{% endblock %}
